<%= link_to("<< Back to List", {:action => 'index', page_id: @page.id}, :class => 'back-link') %>

<div class="sections show">
  <h2>Show section</h2>

  <table summary="section detail view">
    <tr>
      <th>section page_id</th>
      <td><%= @section.page_id ? @section.page_id : 'no' %></td>
    </tr>
    <tr>
      <th>Name</th>
      <td><%= @section.name %></td>
    </tr>
    <tr>
      <th>Position</th>
      <td><%= @section.position %></td>
    </tr>
    <tr>
      <th>Visible?</th>
      <td><%= @section.visible ? 'true' : 'false' %></td>
    </tr>
    <tr>
      <th>content type</th>
      <td><%= @section.content_type %></td>
    </tr>
    <tr>
      <th>content</th>
      <td><%= @section.content %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @section.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @section.updated_at %></td>
    </tr>
  </table>

</div>
